/*---------------------------------------------------base.html*/

.navbar-light .navbar-nav .nav-link {
    color: #e62830 !important;
    padding-right: 50px;
    font-size: 18px;
    letter-spacing: 1px; 
}

.navbar-light .navbar-nav .nav-link:hover {
    color: white !important;
    background-color: #e62830;
}

.search {
    padding-right: 170px;
}

.search-form {
    margin-left: 20px;
    margin-right: 50px;
}

.navbar-light .navbar-brand {
    font-size: 40px;
}

.auth {
    color: black;
    font-size: 18px;
}

.auth:hover {
    color: #e62830;
    text-decoration: none;
}

#user {
    margin-right: 20px;
    color: #e62830;
}

.search {
    border: 2px solid #000000;
}

.search:focus {
    box-shadow: none;
    border: 2px solid #000000 !important;
}
/*-----------------------------------------------register.html*/

.authentication {
    border: none;
    border-radius: 0;
    border-bottom: 1px solid #ced4da;
}

.authentication {
    padding: 30px 0;
}

.authentication:focus {
   box-shadow: none;
   border-color: #28a745 !important;
}

.fas {
    font-size: 30px;
    color: #007bff;
}

#button-icon {
    color: white !important;
    font-size: 18px; 
}

.registration {
    margin-top: 30px;
   
}

.authentication-form {
    border-bottom: 1px solid #c9c3c3;
    padding-bottom: 50px;
}

/*--------------------------------------------------------index*/

.get-book {
    color: black;
    text-decoration: none;
}

.get-book:hover {
    color: black;
    text-decoration: none;
}

.card-img-top {
    width: 90%;
}

.main-index-container {
    margin: 50px auto;
}

/*--------------------------------------------------------getbook.html*/

.book-image {
    width: inherit;
    margin-bottom: 30px;
}

.book-title {
    font-size: 35px;
    margin-bottom: 30px; 
}

.details {
    margin-top: 1rem;
    font-size: 20px;
}

ul {
  list-style-type: none;
}

.button {
    border: 2px solid black;
    padding: 10px 30px;
    color: black;
    font-weight: bold;
}

.button:hover{
    color: #e62830;
    text-decoration: none;
}

/*--------------------------------------------------------footer*/

footer {
    background-color: black;
    color: white
}