{% extends 'base.html' %}
{% block content %}

<section>
    <div class="container registration">
        <h1 class="add-header">Edit Book</h1> 
        <form action="{{ url_for('update_book', book_id=book._id) }}" method="POST" class="editbook">
            <div class="form-row">
                <div class="form-group col-12">
                    <label for="title">Book Title</label>
                    <input type="text" class="form-control" id="title" name="book_title" value="{{ book.book_title }}">
                </div>
                <div class="form-group col-12">
                    <label for="category">Category</label>
                    <input type="text" class="form-control" id="category" name="category_name" value="{{ book.category_name }}">
                </div>
                <div class="form-group col-6">
                    <label for="author">Book Author</label>
                    <input type="text" class="form-control" id="author" name="book_author" value="{{ book.book_author }}" >
                </div>
                <div class="form-group col-6">
                    <label for="image">Book Image</label>
                    <input type="text" class="form-control" id="image" name="book_image" value="{{ book.book_image }}">
                </div>
                <div class="form-group col-12">
                    <label for="saga">Saga</label>
                    <input type="text" class="form-control" id="saga" name="collection_name" value="{{ book.collection_name }}"
                        placeholder="If not part of a saga please write N/A">
                </div>
                <div class="form-group col-12">
                    <label for="description">Book Desctiption </label>
                    <textarea class="form-control" id="description" name="book_description" rows="5">{{ book.book_description }}</textarea>
                </div>
            </div>
            <div class="form-row">
                <div class="col-12">
                    <button class="btn button">Submit</button>
                </div>
            </div>
        </form>
    </div>
</section>

{% endblock %}