{% extends 'base.html' %}
{% block content %}

<section>
    <div class="container registration">
        <div class="row d-flex align-items-center">
            <div class="col-8">
                <h3>Subforum</h3>
            </div>
            <div class="col-4">
                {% if session.user %}
                    <a href="{{ url_for('newtopic') }}" class="button">Start new Topic</a>
                {% else %}
                    <button class="btn btn-secondary btn-lg" disabled>Start new Topic</button>
                    <small class="form-text text-muted">Log in First</small>
                {% endif %}
            </div>
        </div>

        <div class="row topic-container">
            {% for topic in topics %}
            <div class="col-12 topics">
                <a href="{{ url_for('gettopic', topic_id=topic._id) }}">
                    <h4>{{ topic.topic_title }}</h4>
                    <small class="form-text text-muted">By {{ topic.user }}, {{ topic.date }}</small>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
</section>

{% endblock %}