{% extends 'base.html' %}
{% block content %}

<section>
    <div class="container">
        <div class="row d-flex align-items-center">
            <div class="col-9 book-title">
                {{ book.book_title }}
            </div>
            <div class="col-3">
            {% if session.user %}
                <a href="{{ url_for('edit_book', book_id=book._id) }}" class="button">Edit Book</a>
            {% else %}
                <button type="button" class="btn btn-secondary btn-lg" disabled>Edit Book</button>
                <p class="text-muted under-text">You need to log in</p>
            {% endif %}
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <img src="{{ book.book_image }}" class="book-image">
            </div>
            <div class="col-md-7 offset-md-1">
                <div class="row">
                    <div class="col-12">
                        <ul>
                            <li class="details">author:</li>
                                {{ book.book_author }}
                        </ul>
                    </div>
                    <div class="col-12">
                        <ul>
                            <li class="details">Category: </li>
                                {{ book.category_name }}
                        </ul>
                    </div>
                    <div class="col-12">
                        <ul>
                            <li class="details">Saga: </li>
                                {{ book.collection_name }}
                        </ul>
                    </div>
                    <div class="col-12">
                        <ul>
                            <li class="details">Rating: </li>
                                {{ book.book_rating }}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                {{ book.book_description }}
            </div>
        </div>
    </div>

    <div class="container" id="review-button-container">
        <div class="row">
            <div class="col-12">
            {% if session.user %}
                <a href="{{ url_for('add_review', book_id=book._id) }}" class="button">Leave a Review</a>
            {% else %}
                <button type="button" class="btn btn-secondary btn-lg" disabled>Leave a Review</button>
                <p class="text-muted under-text">You need to log in</p>
            {% endif %}
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row reviews-container">
            {% for review in reviews %}
                <div class="col-12 review">
                    <div class="row">
                        <div class="col-12">
                            {{ review.user }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            {{ review.review_rating }} - {{ review.review_title}}
                        </div>
                    </div>  
                    <div class="row">
                        <div class="col-12">
                            {{ review.date }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            {{ review.review_description }}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

    
</section>

{% endblock %}