{% extends 'base.html' %}
{% block content %}

<section>
    {{ topic.topic_title }}
    {{ topic.topic_content }}

   <div class="row">
        {% for reply in replys %}
            <div class="col-12">
                {{ reply.username }} - {{ reply.date.strftime('%d-%m-%y') }}
                {{ reply.message }}
            </div>
        {% endfor %}
   </div>
    <form method="POST" action="{{ url_for('replytopic', topic_id=topic._id, username=session['user']) }}">
        <div class="form-row">
            <div class="form-group col-12">
                <textarea class="form-control" id="description" name="reply_message" rows="5"></textarea>
            </div>
            <div class="row">
                <div class="col-12">
                    <button class="btn btn-primary">Submit</button>
                </div>
            </div>      
        </div>
    </form>
<section>

{% endblock %}