{% extends 'base.html' %}
{% block content %}

<section>
    <div class="container">
        <form class="form-row" method="POST" action="{{ url_for('inserttopic') }}">
            <div class="form-group col-12">
                <label for="title">Topic Title</label>
                <input type="text" class="form-control" id="title" name="topic_title">
            </div>
            <div class="form-group col-12">
                <label for="content">Topic Content</label>
                <input type="text" class="form-control" id="content" name="topic_content">
            </div>
            <div class="form-row">
                <div class="col-12">
                    <button class="btn btn-primary">Submit</button>
                </div>
            </div>
        </form>
    </div>
</section>

{% endblock %}